@font-face {
  font-family: "Broken Robot";
  font-style: normal;
  font-weight: normal;
  src: local("Broken Robot"), url("Broken Robot.woff") format("woff");
}

h1 {
  font-family: "Broken Robot";
  font-weight: 200;
  color: lightseagreen;
}
